.search-box-form {
	display: flex;
	margin: 50px 0 0 0;
}

#search {
	font-size: 1em;
	width: 100%;
	background-color: #edeff0;
	padding: 10px 15px;
	border: 3px solid #d7dbdf;
	border-right: none;
	border-radius: 0.35em 0 0 0.35em;
	outline: none;
}
